---
import ImageMod from "@/components/ImageMod.astro";
import { markdownify } from "@/lib/utils/textConverter";

const { title, images } = Astro.props;
---

<div>
  <p
    class="mb-10 text-lg text-center"
    data-aos="fade-up-sm"
    data-aos-delay="0"
    set:html={markdownify(title)}
  />

  <ul
    class="flex flex-wrap justify-center gap-14"
    data-aos="fade-up-sm"
    data-aos-delay="100"
  >
    {
      images.list.map(({ image }) => (
        <li class="inline-block">
          <ImageMod
            src={image}
            alt="Trusted Brand"
            class="h-auto"
            width={150}
            height={48}
          />
        </li>
      ))
    }
  </ul>
</div>
